early_diabeties_prediction_flows.json
[{"id":"9acca5ec12925bc2","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"1b91bd733036ac3a","type":"ui_form","z":"9acca5ec12925bc2","name":"","label":"","group":"136d035d2265b84e","order":0,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"a","type":"number","required":true,"rows":null},{"label":"Glucose","value":"b","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"c","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"d","type":"number","required":true,"rows":null},{"label":"Insulin","value":"e","type":"number","required":true,"rows":null},{"label":"BMI","value":"f","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"g","type":"number","required":true,"rows":null},{"label":"Age","value":"h","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":40,"wires":[["cf2a462f43551a9f"]]},{"id":"832a8ac915eb9db6","type":"debug","z":"9acca5ec12925bc2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":240,"wires":[]},{"id":"cf2a462f43551a9f","type":"function","z":"9acca5ec12925bc2","name":"Global variables for formnode","func":"global.set(\"Pregnancies\",msg.payload.a)\nglobal.set(\"Glucose\",msg.payload.b)\nglobal.set(\"BloodPressure\",msg.payload.c)\nglobal.set(\"SkinThickness\",msg.payload.d)\nglobal.set(\"Insulin\",msg.payload.e)\nglobal.set(\"BMI\",msg.payload.f)\nglobal.set(\"DiabetesPedigreeFunction\",msg.payload.g)\nglobal.set(\"Age\",msg.payload.h)\nvar apikey=\"YXOz-Z1Sj9LnDZbMHV-1JyXlo2HV_PiS_svs4As1Dipb\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":160,"wires":[["832a8ac915eb9db6","e5303dce70aaada1"]]},{"id":"e5303dce70aaada1","type":"http request","z":"9acca5ec12925bc2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":370,"y":60,"wires":[["841a15e79eca784d","ea432ba14b6e0929"]]},{"id":"841a15e79eca784d","type":"debug","z":"9acca5ec12925bc2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":40,"wires":[]},{"id":"ea432ba14b6e0929","type":"function","z":"9acca5ec12925bc2","name":"part1","func":"var Pregnancies1=global.set(\"Pregnancies\")\nvar Glucose1 = global.set(\"Glucose\")\nvar BloodPressure1 = global.set(\"BloodPressure\")\nvar SkinThickness1= global.set(\"SkinThickness\")\nvar Insulin1 = global.set(\"Insulin\")\nvar BMI1= global.set(\"BMI\")\nvar DiabetesPedigreeFunction1= global.set(\"DiabetesPedigreeFunction\")\nvar Age1=global.set(\"Age\")\nvar token=msg.payload.access_token\nmsg.headers={'content-type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":'application/json'}\nmsg.payload={\n\t\"input_data\": [\n\t\t{\n\t\t\t\"fields\": [\n\t\t\t\t\"Pregnancies\",\n\t\t\t\t\"Glucose\",\n\t\t\t\t\"BloodPressure\",\n\t\t\t\t\"SkinThickness\",\n\t\t\t\t\"Insulin\",\n\t\t\t\t\"BMI\",\n\t\t\t\t\"DiabetesPedigreeFunction\",\n\t\t\t\t\"Age\"\n\t\t\t],\n\t\t\t\"values\": [\n\t\t\t\t[\n\t\t\t\t\tPregnancies1,Glucose1,BloodPressure1,SkinThickness1,Insulin1,BMI1,DiabetesPedigreeFunction1,Age1\n\t\t\t\t]\n\t\t\t]\n\t\t}\n\t]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":140,"wires":[["b1f4617be6d0354b"]]},{"id":"b1f4617be6d0354b","type":"http request","z":"9acca5ec12925bc2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/7aa97e65-6666-490d-a672-e5431fd5178e/predictions?version=2021-11-09","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":510,"y":260,"wires":[["544558717f0741c7","db4212f922f2caba"]]},{"id":"544558717f0741c7","type":"debug","z":"9acca5ec12925bc2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":360,"wires":[]},{"id":"db4212f922f2caba","type":"function","z":"9acca5ec12925bc2","name":"part2","func":"\nmsg.payload=msg.payload.predictions[0].values[0][1][1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":180,"wires":[["93ac15fcbbe867b2","4ad4603d7ed1d9c3"]]},{"id":"93ac15fcbbe867b2","type":"debug","z":"9acca5ec12925bc2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":360,"wires":[]},{"id":"4ad4603d7ed1d9c3","type":"ui_text","z":"9acca5ec12925bc2","group":"136d035d2265b84e","order":1,"width":0,"height":0,"name":"","label":"Probability of getting diabetic","format":"{{msg.payload}}","layout":"row-spread","className":"","x":780,"y":80,"wires":[]},{"id":"136d035d2265b84e","type":"ui_group","name":"Early Diabates Prediction","tab":"254cd0bc69ab9f1c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"254cd0bc69ab9f1c","type":"ui_tab","name":"Diabetes Prediction","icon":"dashboard","disabled":false,"hidden":false}]